:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
 
  font: 16px/1.5 var(--sans);
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
body {
  margin: 0;
  background: #f8f7f4;
}
 
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
